<div class="panel panel-info">
    <div class="panel-heading mainview-header">Products<button class="btn btn-success add-button">Add Product</button></div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in productsList">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td>{{product.creationDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>